.mainSearchAndFilter {
    display: flex;
    margin: 0 5rem;
    
    .sideBar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 3rem;
        flex: 25%;
        gap: 1rem;
        .filters{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3{
                margin-bottom: 1rem;
            }
            .checkBox{
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }
        }
    }
    .main{
        display: flex;
        justify-content: space-between;
        gap: 3.5rem;
        flex-wrap: wrap;
        flex: 75%
    }
}
.checked{
    color: orange;
}